* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #CCE9FF;
}

.lilypad-container {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-around;
	align-content: space-around;
}

.lilypad {
	height: 200px;
	width: 200px;

	display: flex;
	flex-direction: column;
	justify-content: center;

	overflow: hidden;
	position: relative;

	animation: bob 15s linear infinite;
	-webkit-animation: bob 15s linear infinite;
}

.lilypad:before {
	content: "";
	position: absolute;
	z-index: -1;

	height: 200px;
	width: 200px;

	background-image: url("images/lilypad.png");
	background-size: contain;

	animation: rotate 80s cubic-bezier(.23,.05,.5,.94) infinite;
	-webkit-animation: rotate 80s cubic-bezier(.23,.05,.5,.94) infinite;
}

.lilypad-icon {
	background-size: contain;
	height: 60px;
	width: 60px;
	margin: 0 auto;
}

#about-me {
	background-image: url("images/logo.png");
}

#projects {
	background-image: url("images/projects.png");
}

#experience {
	background-image: url("images/experience.png");
}

#contact {
	background-image: url("images/contact.png");
}

.lilypad-text {
	color: black;
	font-family: 'Amatic SC', Arial, Helvetica, sans-serif;
	font-size: 48px;
	text-align: center;
	text-decoration: none;

	-webkit-transition: transform 0.5s;
	-webkit-transition-timing-function: ease-out;
	transition: transform 0.5s;
	transition-timing-function: ease-out;
}

.lilypad-text:visited {
	color: black;
}

.lilypad-text:hover {
	cursor: pointer;
	transform: scale(1.1,1.1);
}

.name {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Amatic SC', Arial, Helvetica, sans-serif;
	text-align: center;
	color: black;
}

.name-first {
	font-size: 100px;
}

.name-last {
	font-size: 72px;
}

.flower {
	position: absolute;
	top: 50%;
	left: 50%;

	animation: bob 15s linear infinite;
	-webkit-animation: bob 15s linear infinite;
}

.flower:before {
	content: "";
	background-size: contain;
	background-image: url("images/flower.png");
	height: 150px;
	width: 150px;
	position: absolute;

	animation: rotateAboutCenter 80s cubic-bezier(.6, 0, .3, 1) infinite;
	-webkit-animation: rotateAboutCenter 80s cubic-bezier(.6, 0, .3, 1) infinite;
}

.delay-1, .delay-1:before {
	animation-delay: -20s !important;
	-webkit-animation-delay: -20s !important;
}

.delay-2, .delay-2:before {
	animation-delay: -40s !important;
	-webkit-animation-delay: -40s !important;
}

.delay-3, .delay-3:before {
	animation-delay: -60s !important;
	-webkit-animation-delay: -60s !important;
}

.delay-4, .delay-4:before {
	animation-delay: -80s !important;
	-webkit-animation-delay: -80s !important;
}

.small-flower {
	height: 100px;
	width: 100px;
	animation: bob 15s linear infinite;
	-webkit-animation: bob 15s linear infinite;
}

.small-flower-container {
	display: none;
}

.small-flower:before {
	content: "";
	background-size: contain;
	background-image: url("images/flower.png");
	height: 100px;
	width: 100px;
	position: absolute;
}

.about {
	display: none;
}

.about-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about-image {
	height: 300px;
	width: 300px;
	border-radius: 50%;
	margin-top: 40px;
	border: 1px;
}

.about-text {
	text-align: justify;
	text-justify: distribute;
	color: black;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 24px;
	width: 600px;
	padding: 40px;
}

.about-link {
	color: black;
}

.about-link:visited {
	color: black;
}

#back-lilypad {
	height: 100px;
	width: 100px;

	position: absolute;
	top: 30px;
	left: 30px;
}

#back-lilypad:before {
	height: 100px;
	width: 100px;
}

#back-button {
	font-size: 24px;
}

@media only screen and (max-width: 600px) {
	.about-text {
		width: 95vw;
	}

	#back-lilypad {
		top: 10px;
		left: 10px;
	}

	.small-flower-container {
		display: flex;
		justify-content: space-around;
		margin: 20px 0px;

		height: 100px;
	}

	.flower {
		display: none;
	}

	.lilypad-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: auto;
	}

	.name {
		position: relative;
		top: auto;
		left: auto;
		transform: none;
		margin: 30px;
	}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes bob {
	0%   {transform: translate(0px, 0px);}
	25% {transform: translate(10px,10px)}
	50% {transform: translate(10px,-10px)}
	75% {transform: translate(-10px,10px)}
    100% {transform: translate(0px, 0px);}
}

/* Standard syntax */
@keyframes bob {
    0%   {transform: translate(0px, 0px);}
	25% {transform: translate(10px,10px)}
	50% {transform: translate(10px,-10px)}
	75% {transform: translate(-10px,10px)}
    100% {transform: translate(0px, 0px);}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes rotate {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

/* Standard syntax */
@keyframes rotate {
    0%   {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

@keyframes rotateAboutCenter {
	0%   {transform: translate(-50%, -50%) rotate(0deg) translate(-180px);}
	25%  {transform: translate(-50%, -50%) rotate(90deg) translate(-180px);}
	50%  {transform: translate(-50%, -50%) rotate(180deg) translate(-180px);}
	75%  {transform: translate(-50%, -50%) rotate(270deg) translate(-180px);}
	100% {transform: translate(-50%, -50%) rotate(360deg) translate(-180px);}
}