* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-image: url("images/pond.png");
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.lilypad-container {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-around;
	align-content: space-around;
}

.lilypad {
	height: 200px;
	width: 200px;

	display: flex;
	flex-direction: column;
	justify-content: center;

	overflow: hidden;
	position: relative;

	animation: bob 15s linear infinite;
	-webkit-animation: bob 15s linear infinite;
}

.lilypad:before {
	content: "";
	position: absolute;
	z-index: -1;

	height: 200px;
	width: 200px;

	background-image: url("images/lilypad.png");
	background-size: contain;

	opacity: 0.9;

	animation: rotate 80s cubic-bezier(.23,.05,.5,.94) infinite;
	-webkit-animation: rotate 80s cubic-bezier(.23,.05,.5,.94) infinite;
}

#lilypad-1, #lilypad-1:before {
	animation-delay: -20s;
	-webkit-animation-delay: -20s;
}

#lilypad-2, #lilypad-2:before {
	animation-delay: -40s;
	-webkit-animation-delay: -40s;
}

#lilypad-3, #lilypad-3:before {
	animation-delay: -60s;
	-webkit-animation-delay: -60s;
}

#lilypad-4, #lilypad-4:before {
	animation-delay: -80s;
	-webkit-animation-delay: -80s;
}

.lilypad-icon {
	background-size: contain;
	height: 60px;
	width: 60px;
	margin: 0 auto;
}

#about-me {
	background-image: url("images/logo.png");
}

#projects {
	background-image: url("images/projects.png");
}

#experience {
	background-image: url("images/experience.png");
}

#contact {
	background-image: url("images/contact.png");
}

.lilypad-text {
	font-family: 'Amatic SC', Arial, Helvetica, sans-serif;
	font-size: 48px;
	text-align: center;
	text-decoration: none;

	-webkit-transition: transform 0.5s;
	-webkit-transition-timing-function: ease-out;
	transition: transform 0.5s;
	transition-timing-function: ease-out;
}

.lilypad-text:visited {
	color: black;
}

.lilypad-text:hover {
	cursor: pointer;
	transform: scale(1.1,1.1);
}

.name {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Amatic SC', Arial, Helvetica, sans-serif;
	text-align: center;
	z-index: -1;
	color: white;
	text-shadow: 0px 0px 8px black;
}

.name-first {
	font-size: 100px;
}

.name-last {
	font-size: 72px;
}

.flower {
	position: absolute;
	top: 50%;
	left: 50%;

	animation: bob 15s linear infinite;
	-webkit-animation: bob 15s linear infinite;
}

.flower:before {
	content: "";
	background-size: contain;
	background-image: url("images/flower.png");
	height: 150px;
	width: 150px;
	opacity: 0.9;
	position: absolute;

	animation: rotateAboutCenter 160s cubic-bezier(.6, 0, .3, 1) infinite;
	-webkit-animation: rotateAboutCenter 160s cubic-bezier(.6, 0, .3, 1) infinite;
}

#flower-1, #flower-1:before {
	animation-delay: -40s;
	-webkit-animation-delay: -40s;
}

#flower-2, #flower-2:before {
	animation-delay: -80s;
	-webkit-animation-delay: -80s;
}

#flower-3, #flower-3:before {
	animation-delay: -120s;
	-webkit-animation-delay: -120s;
}

#flower-4, #flower-4:before {
	animation-delay: -160s;
	-webkit-animation-delay: -160s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes bob {
	0%   {transform: translate(0px, 0px);}
	25% {transform: translate(10px,10px)}
	50% {transform: translate(10px,-10px)}
	75% {transform: translate(-10px,10px)}
    100% {transform: translate(0px, 0px);}
}

/* Standard syntax */
@keyframes bob {
    0%   {transform: translate(0px, 0px);}
	25% {transform: translate(10px,10px)}
	50% {transform: translate(10px,-10px)}
	75% {transform: translate(-10px,10px)}
    100% {transform: translate(0px, 0px);}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes rotate {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

/* Standard syntax */
@keyframes rotate {
    0%   {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

@keyframes rotateAboutCenter {
	0%   {transform: translate(-50%, -50%) rotate(0deg) translate(-180px);}
	25%  {transform: translate(-50%, -50%) rotate(90deg) translate(-180px);}
	50%  {transform: translate(-50%, -50%) rotate(180deg) translate(-180px);}
	75%  {transform: translate(-50%, -50%) rotate(270deg) translate(-180px);}
	100% {transform: translate(-50%, -50%) rotate(360deg) translate(-180px);}
}